<div class="container mt-5">
    <div class="row">
        <div class="col">
            <button type="button" class="btn" (click)="testConcat()">concat</button>
            <button type="button" class="btn" (click)="testMap()">testMap</button>
            <button type="button" class="btn" (click)="testConcatMap()">concatMap</button>
            <button type="button" class="btn" (click)="testMerge()">testMerge</button>
            <button type="button" class="btn" (click)="testMergeMap()">mergeMap</button>
        </div>
    </div>
</div>
